/*
 * Global Styles
 */
 body {
  background: #ffffff;
  margin: 0px;
  width: 100%;
  margin: 0px auto;
  font-family: "Lato";
}

a {
  text-decoration: none;
  color: #F57F1D;
}

.primary-color-family {
  color: #F57F1D;
}



.contact {
  width: 100%;
  height: 600px;
  margin: 0px auto;
}

div#imageonly {
  background: #FDFDFD;
  background-size: cover;
}

.contact_content {
  padding-top: 250px;
  padding-left: 100px;
  width: 50%;
}

.contact .contact_title {
  font-size: 35px;
  font-weight: bold;
  bottom: 0;
}

.contact_button {
  height: 5px;
  width: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .contact {
    width: 100%;
  }
  .contact_content {
    padding-left: 20px;
    width: 65%;
    padding-top: 20px;
  }
 }

@media (max-width: 576px) {
  .contact {
    width: 100%;
  }
  .contact_content {
    padding-left: 20px;
    width: 65%;
    padding-top: 20px;
  }
 }